* {
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

/* DASHBOARD */
.home-image img {
    cursor: pointer;
    transition: .1s linear;
}

.home-image img:hover {
    opacity: 0.9;
}

/* Image Modal (background) */
#imgModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

/* Image Modal Content (image) */
#imgModal .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#imgModal #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
#imgModal .modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
#imgModal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#imgModal .close:hover,
#imgModal .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    #imgModal .modal-content {
        width: 100%;
    }
}
/* END DASHBOARD */

/* CAPITALIZE TEXT */
.capitalize {
    text-transform: lowercase;
}

.capitalize:first-letter {
    text-transform: uppercase;
}
/* END CAPITALIZE TEXT */

/* HANDLEIDING */
.faqBox {
    width: 100%;
    height: auto;
    border: 1px solid gray;
    margin-bottom: 15px;
    background-color: rgba(0,0,0,0.1);
    min-height: 100px;
    box-shadow: 0px 1.5px 0px 0px #3E3838;
}

.faqBox-header {
    background-color: #D81E05;
    min-height: 40px;
}

.faqBox-body {
    padding: 15px;
}

.faqBox-header h3 {
    font-weight: bold;
    display: inline;
    line-height: 230%;
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
}

.faqBox-header h3:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f059";
    font-size: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

.faqBox-body p {
    margin-left: 25px;
    font-size: 12px;
}

.faqBox-body p:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f192";
    margin-right: 10px;
}

p.orderList {
    padding-left: 25px;
}
/* END HANDLEIDING */

body {
    font-size: .8125em;
}

textarea.inputError,
input.inputError {
    border-color: red !important;
}

.errorMessage {
    text-align: center;
    color: red;
}

.userDetail {
    font-size: 11px;
    font-weight: normal;
}

#nlTranslation,
#enTranslation {
    margin: 0px 7px;
    transition: .1s linear;
}

#nlTranslation:hover,
#enTranslation:hover {
    opacity: 0.7;
}

.activeTranslation {
    transform: scale(1.5);
}

/* POP-UP */
.popup {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 90px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.popup .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popup .close:hover,
.popup .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* END POP-UP */

/* GRID STYLING */
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* END GRID STYLING */

/* BUTTONS */
.btn {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-decoration: none;
}

.btn-blue {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-gray {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-green {
    color: #fff;
    background-color: #26a514;
    /* border-color: #28a745; */
}

.btn-red {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-yellow {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-lightblue {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-lightgray {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-black {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-gray:hover {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}

.btn-green:hover {
    color: #fff;
    background-color: #1e8410;
    /* border-color: #1e7e34; */
}

.btn-red:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-yellow:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-lightblue:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.btn-lightgray:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.btn-black:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}
/* END BUTTONS */

/* NAVBAR */
.navIcon {
    font-size: 16px;
    padding-right: 10px;
}

.logo img {
    width: 250px;
}

.page-header {
    height: auto;
    position: relative;
    width: 100%;
    z-index: 100;
}

ul {
    height: 57px;
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D81E05;
    text-transform: uppercase;
}

li {
    float: left;
}

li:first-child {
    margin-left: 10px;
}

li:last-child {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: 'uni_sansbold','Open Sans Semibold',Helvetica,sans-serif;
    font-weight: normal;
}

li a:hover:not(.active) {
    background-color: #B81A04;
}

li img#profile-image {
    width: 30px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    height: 30px;
    margin-top: 13px;
}


.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    padding: 20px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    width: 200px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 15px 15px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.navbar ul li .dropdown .dropdown-content .icons {
    float: right;
    text-align: left;
    width: 30px;
    line-height: 140%;
}

li .dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: #B81A04;
}
/* END NAVBAR */

/* CONTENT */
body h2 {
    padding-bottom: 25px;
    font-size: 22px;
    color: #D81E05;
}

body .backgroundImage {
    background-image: url('../img/background-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body p {
    font-family: verdana;
    font-size: 14px;
}

div.content {
    padding: 10px 90px;
    min-height: calc(100vh - 106px);
    background-color: rgba(255,255,255,1);
    width: 75%;
    margin: auto;
    position: relative;
}
/* END CONTENT */

/* CONTACT PAGE */
.contact.form-group label {
    font-weight: bold;
}

.contact-input{
    border: 2px solid #d9d9d9;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-weight: normal;
    font-style: normal;
    background-image: none;
    outline: 0;
    padding: 4px;
    min-height: 30px;
    height: 30px;
    line-height: 30px;
    color: #333;
    font-size: 13px;
    min-width: 100%;
    max-width: 100%;
    margin: 10px 0px;
}

.contact-info {
    padding-left: 75px;
    text-align: justify;
}

.gegevensinput:focus,
.contact-input:focus {
    border-color: #00bce2!important;
    -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,.4);
    box-shadow: 0 0 6px 0 rgba(0,0,0,.4);
}

/* END CONTACT PAGE */

/* BEHEERDER PAGE */
p.niet-aanwezig::before {
    font-family: "Font Awesome 5 Free";
    content: "\f057";
    margin-right: 10px;
    color: red;
    font-weight: 900;
    font-size: 20px;
}

p.niet-aanwezig {
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
}

#responsePopup {
    display: none;
}

div.response {
    background-color: lightgrey;
    width: 94%;
    padding: 3%;
}

div.responseBox input {
    width: 49%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 4px;
}

.input-response.antwoord {
    width: 98.5%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 4px;
}

div.row-1 {
	padding: 10px 0;
	display: flex;
	height: 300px;
}

div.row-1 .users-interface-admin {
	height: 100%;
	width: calc(40% - 12px);
	border: 1px solid #000;
	float: left;
	margin-right: 20px;
	overflow: auto;
}

h2.admin-title.users {
    width: calc(40% - 12px);
    float: left;
    margin-right: 20px;
    padding: unset;
}

div.row-1 #statistics-admin {
	height: 100%;
	width: calc(60% - 12px);
	border: 1px solid #000;
	float: left;
    overflow: hidden;
}

h2.admin-title.statistics {
    width: calc(60% - 12px);
    padding: unset;
}

div.row-1 .users-interface-admin [class*="user"]{
    padding: 16.5px;
    position: relative;
}

div.row-1 .users-interface-admin [class*="user"] a{
    position: absolute;
    right: 10px;
    bottom: 50%;
    transform: translateY(50%);
}

div.row-2 [class*="comment"] a {
    position: absolute;
    right: 10px;
    bottom: 50%;
    transform: translateY(50%);
}

div.row-1 .users-interface-admin input{
	width: 98.7%;
}

div.row-1 .users-interface-admin [class*="user"]{
	border-bottom: 1px solid #b9b9b9;
}

div.row-2 {
	padding: 10px 0;
	display: flex;
	height: 300px;
}

div.row-2 #user-comments {
	overflow: auto;
	height: 100%;
	width: 100%;
	border: 1px solid #000;
}

h2.admin-title.comments {
    width: 100%;
    padding: unset;
}

div.row-2 #user-comments .comment {
    padding: 16.5px;
    position: relative;
}

div.row-2 #user-comments .comment{
	border-bottom: 1px solid #b9b9b9;
}

div.row-2 #user-comments input{
	width: 99.5%;
}

#comments-controls {
  width: 100%;
  border-bottom: 1px solid;
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D81E05;
}

#comments-controls a {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

#statistics-controls {
    width: 100%;
    border-bottom: 1px solid;
    font-size: 14px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D81E05;
}

#statistics-controls a {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

#users-controls {
    width: 100%;
    border-bottom: 1px solid;
    font-size: 14px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D81E05;
}

#users-controls a {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
/* END BEHEERDER PAGE */

/* LOGIN SECTION */
.login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

form.reset-form {
    margin: 30px 200px;
}

.login-header {
    color: #D81E05;
}

.login-name,
.login-password {
    padding: 4px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #fff;
    width: 100%;
    border-radius: 6px;
    border: 2px solid #d9d9d9;
    min-height: 30px;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.reset-username {
    padding: 4px;
    display: inline-block;
    border: none;
    background: #fff;
    width: 100%;
    border-radius: 6px;
    border: 2px solid #d9d9d9;
    min-height: 30px;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.login-name:focus,
.login-password:focus,
.reset-username:focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);
}

.login-submit {
    width: 100%;
}

.reset-submit_step1,
.reset-submit_step2,
.reset-submit_step3 {
    width: 100%;
    padding: 3px;
}

.label-reset-username {
    font-weight: bold;
}

.label-username {
    font-weight: bold;
    width: 76%;
}

.label-password {
    float: left;
    font-weight: bold;
    width: 74%;
}

.reset-link {
    margin: 8px 0 0 0;
    display: block;
    font-size: 1rem;
    text-decoration: none;
    color: #d81e05;
    width: 100%;
    text-align: right;
    cursor: pointer;
}

.reset-link:hover {
    text-decoration: underline;
}

.loginBtn {
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}

.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}
/* END LOGIN SECTION */

/* REGISTRATION SECTION */
.registration {
    width: 30%;
    margin: 10px auto;
}

.input-fields-secundary {
    width: 100%;
    padding: 4px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #fff;
    border-radius: 6px;
    border: 2px solid #d9d9d9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-height: 30px;
    height: 30px
}

.labels-registration {
    float: left;
    width: 65%;
}

.input-fields-primary:focus,
.input-fields-secundary:focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);
}

.btn.btn-green.register-button {
    width: 100%;
    background-color: #26a514;
}

.btn.btn-green.register-button:hover {
    background-color: #1e8410;
    text-decoration: none;
}

.login-link {
    font-size: 1rem;
    text-decoration: none;
    color: #d81e05;
    float: right;
    margin: 10px 0 0 0;
}

.login-link:hover {
    text-decoration: underline;
}

.input-registration {
    position: relative;
}

.fa.fa-info-circle {
    top: 50%;
    left: -20px;
    position: absolute;
    display: inline-block;
    transform: translateY(-50%);
}

span.text {
    visibility: hidden;
    width: 215px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -108px;
    opacity: 0;
    transition: opacity 0.3s;
}

span.text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.fa.fa-info-circle:hover span.text {
    visibility: visible;
    opacity: 1;
}
/* END REGISTRATION SECTION */

/* MATCHES, GESPREKKEN EN CHAT -DAAN */
.titel_onderwerp{
    margin-top: 20px;
    text-align: center;
}

.naam-gesprek-verzoek {
    float: left;
    margin: 4% 0 0 5%;
    font-weight: 800;
}

#foto {
    border: 2px solid black;
    margin-top: 6px;
    margin-right: 30px;
    margin-left: calc(100% - 62%);
    padding: 5px;
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
}

#foto-matches {
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
}

.chat-box {
    position: relative;
    border: 1px solid #d9d9d9;
    padding: 10px;
    height: 650px;
    margin: 0px 90px 40px;
}

.chat {
    margin: 10px 0px;
}

.chatContainer.darker {
    border-color: #ccc;
    background-color: #ddd;
    word-wrap: break-word;
}

.chatContainer {
    border: 1px solid #d9d9d9;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.chatContainer::after {
    content: "";
    clear: both;
    display: table;
}

.gesprek.nonActiveUser {
    pointer-events: none;
    background-color: rgba(255, 0, 0, 0.9);
}

.lockedChat::after {
    font-family: "Font Awesome 5 Free";
    content: "\f502";
    font-size: 30px;
    padding-left: 15px;
}

.lockedChat {
    float: right;
    padding: 35px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.chatContainer img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.chatContainer img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
    height: 60px;
}

.time-right {
    float: right;
    color: #aaa;
    font-size: 12px;
    text-align: right;
    margin-top: 20px;
}

.time-left {
    float: left;
    color: #999;
    font-size: 12px;
    text-align: left;
    margin-top: 20px;
}

.chat .chatbox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #d9d9d9;
}

.chat .chat-messages {
    height: 500px;
    overflow: auto;
}

.chat .chatbox input {
    background-color: #fff;
    border: 2px solid #d9d9d9;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    background-image: none;
    outline: 0;
    padding: 4px;
    min-height: 30px;
    height: 30px;
    line-height: 30px;
    color: #333;
    width: 98%;
    margin: 5px;
}

.chat .chatbox input:focus {
    border-color: #00bce2!important;
    -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,.4);
    box-shadow: 0 0 6px 0 rgba(0,0,0,.4);
}

.naam-gesprek {
    border-bottom: 1px solid #d9d9d9;
    padding: 20px 30px 40px;
    font-weight: 800;
}

/* Voor de verzoeken foto */
#foto-verzoek-persoon {
    float: left;
    border: 2px solid black;
    margin: 2% 0% 2% 2%;
    width: 6%;
    height: 6%;
    border-radius: 50%;
}

.foto-verzoek-aanvragen{
    border: 2px solid black;
    margin: 10px 20px 30px 0px;
    padding: 10px;
    width: 40px;
    height: 40px;
    float: right;
}

.foto-verzoek {
    border: 2px solid black;
    padding: 10px;
    margin: 2% 1% 1% 1%;
    width: 40px;
    height: 40px;
    float: right;
}

.foto-denied {
    border: 2px solid black;
    padding: 10px;
    margin: 2% 1% 1% 1%;
    width: 40px;
    height: 40px;
    float: right;
}

.foto-verzoek:hover {
    background-color: #26a514;
    cursor: pointer;
}

.foto-denied:hover {
    background-color: #d81e05;
    cursor: pointer;
}

#keuze-lijst {
    height: 100%;
    width: 25%;
    border: 1px solid #000;
    float: left;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 10px;
    overflow: auto;
}

#search-lijst {
    float: left;
    margin: 10px 5px;
    width: 65%;
    height: 50px;
}

/* MATCHES LIJST CONTENT */

#matches-titel-lijst {
    text-align: center;
    padding-bottom: 10px;
}

.button-verzoek-sturen {
    background-color: #1e8410;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    float: right;
    padding: 2px;
    font-size: 13px;
    width: 100%;
}

::-webkit-input-placeholder {
    color: #666;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }

/* kolom links */
#linker-kolom {
    border: 1px solid black;
    margin-right: 75%;
}

.kolom-klein {
    border: 1px solid black;
    margin: 5px;
}

.kolom-klein .zoeken-bestemming{
    background-color: #FFF;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #666;
    font-size: 10px;
    font-family: 'Open Sans',Helvetica,sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-left: 1.5%;
    height: 30%;
    width: 60%;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    overflow: hidden;
    text-overflow: ellipsis;
}

#datepicker-corendon {
    background-color: #FFF;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-left: 1.5%;
    margin-bottom: 2%;
    height: 30%;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    color: #666;
    font-size: 10px;
    font-family: 'Open Sans',Helvetica,sans-serif;
    font-weight: bold;
    font-style: italic;
}


.kolom-klein h3 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #666;
}

.gegevensInput {
    width: 100%;
    padding: 3px 0px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 4px;
    text-align: center;
}

.input-bestemming {
    border: 1px solid black;
    margin: 1.5% 1.5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.input-bestemming-1 {
    border: 1px solid black;
    margin: 1.5% 1.5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#checkbox-bestemming{
    float: left;
    margin-left: 2%;
}

#checkbox-interesse{
    float: left;
    margin-left: 2%;
}

#checkbox-interesse-klein{
    float: left;
    margin-left: 4%;
}

#checkbox-bestemming-klein{
    float: left;
    margin-left: 4%;
}

/* kolom links af */

/* tabel personen */

#example_wrapper tr { border: none; }
#example_wrapper th { border: none; }
#example_wrapper td { border: none; }
#example_wrapper { border: none; }

.dataTables_wrapper {
    border: 1px solid black;
    padding: 1%;
    width: 100%;
}

table.dataTable {
    border: 1px solid black;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    margin: 1%;
}
/* tabel personen af */

/* blok personen */
.box-matches-personen-lijst{
    float: right;
    margin-right: 26.5%;
    width: 45%;
}

.matches-personen-lijst {
    border: 1px solid black;
    margin: 0.5% 0.3%;
    width: 99%;
    float: left;

}

/*div.matches-personen-lijst:nth-child(3) {
    margin-top: unset;
    margin-left: unset;
}*/

.matches-personen-lijst p {
    margin: 10px;
}

.matches-foto-persoon {
    float: left;
    margin: 5px;
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 50%;
}

.matches-verzoek {
    float: right;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    margin: 5px;
}

.matches-verzoek:hover {
    background-color: #26a514;
    cursor: pointer;
}

.matches-personen-lijst p {
    float: left;
    margin: 5px;
}
/* blok af */

.gesprekken-box-personen-matches {
    margin: 0 auto 0 auto;
    width: 75%;
}

.gesprekken-box-personen{
    margin: 0 auto 10px auto;
    width: 75%;
}

.gesprek:hover{
    cursor: pointer;
    background-color: lightgrey;
}

.gesprek {
    border: 2px solid #d9d9d9;
    padding-bottom: 12.5%;
    margin-bottom: 1%;
}

#match-info-box {
    text-align: center;
    padding: 15px;
    border-radius: 6px;
    width: 70%;
    display: none;
    background-color: #0193DE;
    font-weight: bold;
    font-size: 15px;
    margin: 0 auto 10px auto;
}

/* EINDE MATCHES, GESPREKKEN CONTENT en CHAT -DAAN */

/*Profile page*/
.profile-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 140px;
    border-radius: 50%;
}

.buttoninstellingen{
    margin-top: 10px;
    margin-left: 80%;
}

.interesses{
    background-color: lightgrey;
    width: 94%;
    padding: 3%;
}

.afbeeldingwijzig{
    background-color: lightgrey;
    width: 94%;
    padding: 3%;
}

.instellingen{
    background-color: lightgrey;
    width: 94%;
    padding: 3%;
}

.leeftijdbutton{
    text-align: center;
    margin-bottom: 12px;
    border-bottom: 1px solid red;
    padding-bottom: 20px;
}

.woonplaatsbutton{
    text-align: center;
}
.bestemmingen{
    background-color: lightgrey;
    width: 94%;
    padding: 3%;
}

.interessesBox input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #000000 ;
    border-radius: 4px;
}

.bestemmingBox input[type=text] {
    width: 49%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #000000 ;
    border-radius: 4px;
}

.fas.fa-plus{
    color: green;
    font-size: 1.8em;
    margin-left: 15px;
}

.fas.fa-window-minimize{
    color: red;
    font-size: 1.8em;
    margin-left: 19px;
}

.btn-green-profile {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    width: 100%;
}

#btngegevensopslaan,
#btngegevenswijzigen,
#btnbestemming,
#btninteresse,
#btnafbeelding {
    width: 100%;
}

#bestemming{
    background-color: lightgrey;
    width: 90%;
    border: 1px solid #000000;
    padding: 3%;
    display: block;
    height: fit-content;
    min-height: 300px;
}

#geschiedenis{
    background-color: lightgrey;
    width: 30%;
    border: 1px solid #000000;
    padding: 3%;
    float: left;
}

.interessesinfo{
    background-color: lightgrey;
    width: 90%;
    border: 1px solid #000000;
    padding: 3%;
    height: fit-content;
    min-height: 300px;
}

div#interessestekst p {
    font-size: 15px;
}

.content .profile p{
    text-align: center;
}

.persoongegevens{
    text-align: center;
}

div#plaatstekst p {
    font-size: 15px;
}

p.plaatsTxt {
    padding-top: 10px;
}

p.intresseTxt{
    padding-top: 10px;
    font-size: 15px;
    text-transform: capitalize;
}

.content .profile h2{
    text-align: center;
}

.btn-green.profile{
    width: 100%;
}

.btn.btn-green.bestemmingformBtn{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    width: 100%;
}

.row.profile{
    display: flex;
}

.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 25%;
    top: 13%;
    width: 50%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 25%;
    top: 13%;
    width: 50%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 25%;
    top: 13%;
    width: 50%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.fieldTitle {
    text-align: left;
}

.fa-eye-slash {
    color: red;
    font-size: 15px;
    cursor: pointer;
}

.fa-eye {
    color: green;
    font-size: 15px;
    cursor: pointer;
    transition: .1s linear;
}

.fa-eye:hover,
.fa-eye-slash:hover {
    opacity: 0.5;
}

.modal-body {
    overflow: auto;
    max-height: 328px;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #d81e05;
    color: white;
}

.modal-header h2 {
    text-align: center;
    padding: 10px;
    color: #ffffff;
}
.modal-footer {
    padding: 2px 16px;
    background-color: #d81e05;
    color: white;
}

.modal-footer h3{
    text-align: center;
    padding: 10px;
}
/*End Profile page*/

/* Register password requirements */
#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    padding: 20px;
    margin: 5px auto 22px auto;
    text-align: left;
}

#message p {
    padding: 2px 25px;
    font-size: 16px;
}

.valid {
    color: #26a514;
}

.invalid {
    color: #d81e05;
}
/* End password requirements*/

/* Homepage */
.home-registreren {
    text-align: center;
    padding: 40px 0;
    margin-top: 30px;
    background-color: #D81E05;
}
.home-registreren h2 {
    color: #fff;
}
.home-image img {
    width: 100%;
}
.home-image {
    padding: 5px 2.5px 5px;
}
.home-info {
    padding: 5px 10px 5px;
    text-align: justify;
}
/* FOOTER */
footer {
    padding: 10px;
    background: #D81E05;
    text-align: center;
    color: #fff;
    font-weight: normal;
}
/* END FOOTER */
