<div class="logo">
    <img src="assets/img/logo.png" class="logo" />
</div>
<div class="navbar page-header">
    <ul id="navigation-list">
        <li><a href="" data-controller="beheerder"><i class="fas fa-tachometer-alt navIcon"></i>Dashboard</a></li>
        <li><a href="" data-controller="query"><i class="fas fa-terminal navIcon"></i>Queries</a></li>
        <li>
            <img id="profile-image" src="https://lawyerscommittee.org/wp-content/uploads/2017/04/5a68d99cd467003c04b4ef64004c4313_download-this-image-as-profile-icon-clipart_600-557.png" alt="">
            <div class="dropdown">
                <button class="dropbtn header-username"><i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="" data-controller="handleiding">Handleiding <i class="icons fas fa-question-circle"></i></a>
                    <a href="" data-controller="logout">Uitloggen <i class="icons fas fa-power-off"></i></a>
                </div>
            </div>
        </li>
    </ul>
</div>
