    <h2 class="admin-title users">Gebruikers</h2>
    <h2 class="admin-title statistics">Statistieken</h2>
    <div class="row-1">
        <div class="users-interface-admin">
            <div id="users">
              <div id="users-controls">
                <a href="javascript:void(0)" id="active-users" class="gebruiker-control active">Actieve gebruikers</a>
                <a href="javascript:void(0)" id="inactive-users" class="gebruiker-control">Inactieve gebruikers</a>
              </div>
            </div>
        </div>
        <div id="statistics-admin">
            <div id="statistics-controls">
                <a href="javascript:void(0)" id="totale-registraties" class="statistics-control active">Alle registraties (Per maand)</a>
                <a href="javascript:void(0)" id="totale-verzoeken" class="statistics-control">Alle verzoeken gestuurd (Per maand)</a>
                <a href="javascript:void(0)" id="totale-contacten" class="statistics-control">Alle geaccepteerde verzoeken (Per maand)</a>
            </div>
            <div id="registraties"></div>
            <div id="verzoeken"></div>
            <div id="contacten"></div>
        </div>
    </div>
    <h2 class="admin-title comments">Reacties</h2>
    <div class="row-2">
        <div id="user-comments">
            <div id="comments-controls">
                <a href="javascript:void(0)" id="alles" class="comment-control active">Alles</a>
                <a href="javascript:void(0)" id="vragen" class="comment-control">Vragen</a>
                <a href="javascript:void(0)" id="opmerkingen" class="comment-control">Opmerkingen</a>
                <a href="javascript:void(0)" id="klachten" class="comment-control">Klachten</a>
                <a href="javascript:void(0)" id="afgehandeld" class="comment-control">Afgehandeld</a>
            </div>
            <p class="niet-aanwezig"></p>
        </div>
    </div>
    <div id="responsePopup" class="modal1">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" data-popup="responsePopup">&times;</span>
                <h2>Reageren op een <span class="contact-type"></span></h2>
            </div>
            <div class="modal-body">
                <div class="response">
                    <div class="responseBox">
                        <input type="text" class="input-response voornaam" placeholder="Voornaam" disabled="disabled">
                        <input type="text" class="input-response tussenvoegsel" placeholder="Tussenvoegsel" disabled="disabled">
                        <input type="text" class="input-response achternaam" placeholder="Achternaam" disabled="disabled">
                        <input type="email" class="input-response email" placeholder="Email" disabled="disabled">
                        <textarea class="input-response antwoord" rows="2" cols="50" name="comment" form="usrform" placeholder="Antwoord"></textarea>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-green-profile">Reageren</button>
                </div>
            </div>
        </div>
    </div>
