<div class="chat">
    <h2 class="titel_onderwerp">Chat</h2>
    <div class="chat-box">
        <img id="foto" src="" alt="">
        <p class="naam-gesprek"></p>
        <div class="chat">
            <div class="chat-messages">
            </div>
            <div class="chatbox">
                <input type="text" class="inputChat" placeholder="Typ uw bericht..." />
            </div>
        </div>
    </div>
</div>
