<div class="contact">
    <h2 class="titel_onderwerp">Contact</h2>
    <div class="row">
        <div class="col-6">
            <div class="contact form-group">
                <form action="" method="post">
                    <div class="row">
                        <div class="col-12">
                            <label for="voornaam">*Voornaam</label>
                            <input type="text" id="voornaam" class="contact-input inputVoornaam" name="voornaam"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label for="tussenvoegsel">Tussenvoegsel</label>
                            <input type="text" id="tussenvoegsel" class="contact-input inputTussenvoegsel" name="tussenvoegsel"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label for="achternaam">*Achternaam</label>
                            <input type="text" id="achternaam" class="contact-input inputAchternaam" name="achternaam"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label for="email">*Email</label>
                            <input type="email" id="email" class="contact-input inputEmail" name="email"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label for="onderwerp">*Onderwerp</label>
                            <select id="onderwerp" class="contact-input inputOnderwerp" name="onderwerp">
                                <option value="vraag">Vraag</option>
                                <option value="opmerking">Opmerking</option>
                                <option value="klacht">Klacht</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label for="opmerking">*Opmerking</label>
                            <textarea id="opmerking" class="contact-input inputOpmerking" name="opmerking" style="min-height: 150px;"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-green contactformVersturenBtn">Versturen</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-6">
            <div class="contact-info">
                <p>Heeft u een suggestie? Heeft u een vraag?</p>
                <p>Heeft u een klacht? Dat kan allemaal!</p>
                <br>
                <p>
                    Dan kunt u het beste contact opnemen met ons via onze contactformulier.
                    Wij proberen op uw bericht zo snel mogelijk te reageren.
                </p>
                <br>
                <p>Voor uitgebreide contact informatie kunt u <a href="https://www.corendon.nl/contact">hier klikken</a> om onze website van Corendon bekijken.</p>
            </div>
        </div>
    </div>
</div>
