<div class="row">
    <div class="col-6">
        <div class="home-info">
            <h2>Over de website</h2>
            <p>
                Welkom op de website!
                Bent u van plan om alleen te gaan reizen? Heeft u behoefte om op uw bestemming in contact te komen met andere reizigers?
                Geen probleem! wij regelen het!
                Wij regelen het contact tussen u en andere reizigers die alleen gaan reizen door middel van interesses.
            </p>
            <br>
            <p>
                Wij stellen u een aantal connecties voor die wij voor u gekozen hebben door middel van interesses.
                U kunt zelf kiezen met wie u een connectie wilt maken en wie niet!
                Nadat u een connectie met iemand hebt gemaakt, kunt u ervoor kiezen om te gaan chatten met de andere reiziger.
                Maak nu snel een account aan en maak jouw eerste conectie!
            </p>
        </div>
    </div>
    <div class="col-6">
        <div class="home-info">
            <h2>Over Corendon</h2>
            <p>
                Corendon is een Turks/Nederlandse holding, gespecialiseerd in vliegvakanties.
                Het bedrijf is opgericht in 2000, het hoofdkantoor staat in Lijnden.
                De naam Corendon heeft betrekking op een aan robijn verwant bordeauxrood mineraal, korund. Bordeauxrood is tevens de huisstijlkleur van Corendon.
            </p>
            <br>
            <p>
                Op vakantie gaan betekent wat ons betreft gewoon lekker genieten en genieten schrijven we bij Corendon met de hoofdletter G.
                Het is onze taak om jouw vakantiedromen waar te maken.
                Die opdracht nemen we heel serieus. Niet voor niets hebben wij voor elke doelgroep een passende vakantie.
                Bij Corendon wordt er naar je geluisterd.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="home-registreren">
            <!-- content -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="home-image">
            <img id="img1" src="assets/img/vakantie-img1.jpg">
        </div>
    </div>
    <div class="col-6">
        <div class="home-image">
            <img id="img2" src="assets/img/vakantie-img2.jpg">
        </div>
    </div>
</div>

<div id="imgModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content">
    <div id="caption"></div>
</div>
