<div class="handleiding">
    <div class="row">
        <div class="col-3">
            <a href="javascript:void(0);"><img id="nlTranslation" class="activeTranslation" src="assets/img/nl.png" width="10%"></img></a>
            <a href="javascript:void(0);"><img id="enTranslation" src="assets/img/en.png" width="10%"></img></a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="handleiding-text"></div>
        </div>
    </div>
</div>
