<div class="logo">
    <img src="assets/img/logo.png" class="logo" />
</div>
<div class="navbar page-header">
    <ul id="navigation-list">
        <li><a href="" data-controller="dashboard"><i class="fas fa-home navIcon"></i>Home</a></li>
        <li><a href="" data-controller="contact"><i class="fas fa-phone navIcon"></i>Contact</a></li>
        <li style="float:right"><a href="" data-controller="register"><i class="fas fa-user-plus navIcon"></i>Registreren</a></li>
        <li style="float:right"><a href="" data-controller="login"><i class="fas fa-sign-in-alt navIcon"></i>Login</a></li>
    </ul>
</div>
