<div class="login">
    <h2 class="login-header">Login</h2>
    <form action="" method="POST" class="login-form">
        <label for="login-name" class="label-username">Gebruikersnaam</label><br>
        <input type="text" class="login-name required-field" name="username" required>

        <label for="login-password" class="label-password">Wachtwoord</label><br>
        <input type="password" class="login-password required-field" name="password" required><br/>

        <button type="submit" class="btn btn-green login-submit">Login</button><br/>
    </form>

    <span class="reset-link">Wachtwoord vergeten</span><br/>
</div>

<div id="popupPasswordReset" class="popup">
    <div class="popup-content">
        <span class="close">&times;</span>
        <h2>Wachtwoord vergeten?</h2>
        <p>Als u uw wachtwoord bent verloren kunt u uiteraard een nieuwe wachtwoord instellen voor uw account.</p>
        <p>Alleen moet u wel uw emailadres weten.</p>
        <p>Als uw account bekend is bij ons, zal er een mail worden verstuurd naar uw emailadres en vanuit daar kunt u een nieuwe wachtwoord instellen</p>
        <br>
        <p>Voer hieronder uw <strong>emailadres</strong> in dat op uw account geregistreerd staat.</p>
        <br>
        <div class="errorMessage"></div>
        <br>
        <form method="POST" class="reset-form">
            <div class="row">
                <div class="col-3">
                    <label for="email" class="label-reset-username">Email:</label>
                </div>
                <div class="col-9">
                    <input type="email" class="reset-username __email" name="email">
                </div>
            </div>

            <br>

            <div class="row codeInput" style="display: none;">
                <div class="col-3">
                    <label for="code" class="label-reset-username">Code:</label>
                </div>
                <div class="col-9">
                    <input type="text" class="reset-username __code" name="code" maxlength="4">
                </div>
            </div>

            <br>

            <div class="row passwordInput" style="display: none;">
                <div class="col-3">
                    <label for="wachtwoord" class="label-reset-username">Wachtwoord:</label>
                </div>
                <div class="col-9">
                    <input type="password" class="reset-username __wachtwoord" name="wachtwoord">
                </div>
            </div>

            <br>

            <div class="row passwordInput" style="display: none;">
                <div class="col-3">
                    <label for="confirm_wachtwoord" class="label-reset-username">Bevestig wachtwoord:</label>
                </div>
                <div class="col-9">
                    <input type="password" class="reset-username __confirm_wachtwoord" name="confirm_wachtwoord">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-green reset-submit_step1">Versturen</button>
                    <br>
                    <button style="display: none;" type="button" class="btn btn-green reset-submit_step2 codeInput">Code controleren</button>
                    <br>
                    <button style="display: none;" type="button" class="btn btn-green reset-submit_step3 passwordInput">Wachtwoord wijzigen</button>
                </div>
            </div>
        </form>
    </div>
</div>
