<div class="matches">
    <h2 class="titel_onderwerp">Verzoeken</h2>
    <div class="verzoeken-box">
        <div id="match-info-box"></div>
            <div class="gesprekken-box-personen-matches"></div>
        </div>
    </div>
</div>
