<div class="matches-lijst">
    <h2 id="matches-titel-lijst">Matches</h2>
    <div id="match-info-box"></div>

    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Gebruikersnaam</th>
                <th>Voornaam</th>
                <th>Achternaam</th>
                <th>Woonplaats</th>
                <th>Verzoek</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <th>Gebruikersnaam</th>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Woonplaats</th>
            <th>Verzoek</th>
        </tfoot>
    </table>
</div>
