<div class="profile">
    <h2 class="titel_onderwerp">Profiel</h2><br />
    <div id="profileimg">
    </div>
    <br />
    <div class="persoongegevens">
        <table style="margin: auto;">
            <tr>
                <td class="fieldTitle">Gebruikersnaam:</td>
                <td id="gebruikersnaam"></td>
                <td></td>
            </tr>
            <tr>
                <td class="fieldTitle">Voornaam:</td>
                <td id="voornaam"></td>
                <td class="capitalize"></td>
            </tr>
            <tr>
                <td class="fieldTitle">Tussenvoegsel:</td>
                <td id="tussenvoegsel"></td>
                <td class="capitalize"></td>
            </tr>
            <tr>
                <td class="fieldTitle">Achternaam:</td>
                <td id="achternaam"></td>
                <td class="capitalize"></td>
            </tr>
            <tr>
                <td class="fieldTitle">Email:</td>
                <td id="email"></td>
                <td class="capitalize"></td>
            </tr>
            <tr>
                <td class="fieldTitle">Woonplaats:</td>
                <td id="woonplaats" class="capitalize"></td>
                <td id="woonplaatsIcon" data-field="woonplaats_actief"></td>
            </tr>
            <tr>
                <td class="fieldTitle">Geboortedatum:</td>
                <td id="geboortedatum" class="capitalize"></td>
                <td id="geboortedatumIcon" data-field="leeftijd_actief"></td>
            </tr>

        </table>
        <table style="margin: 20px auto;">
            <tr>
                <td>
                    <button type="button" id="btnafbeelding" class="btn btn-red"><i class="fas fa-camera"></i> Wijzig uw profielfoto</button>
                </td>
                <td>
                    <button id="btngegevenswijzigen" class="btn btn-lightblue"><i class="fas fa-user-edit"></i> Gegevens wijzigen</button>
                    <button id="btngegevensopslaan" class="btn btn-yellow" style="display: none;">Opslaan</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" id="btnbestemming" class="btn btn-green"><i class="fas fa-plane-departure"></i> Voeg bestemming toe</button>
                </td>
                <td>
                    <button type="button" id="btninteresse" class="btn btn-green"><i class="fas fa-table-tennis"></i> Interesse toevoegen</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="row profile">
        <div class="col-6">
            <div id="bestemming">
                <h2>Bestemmingen <i class="fas fa-plane-departure"></i></h2>
                <hr>
                <div id="plaatstekst"></div>
            </div>
        </div>
        <div class="col-6">
            <div class="interessesinfo">
                <h2>Interesses <i class="fas fa-table-tennis"></i></h2>
                <hr>
                <div id="interessestekst"></div>
            </div>
        </div>
        </div>

        <div id="interessePopup" class="modal1">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" data-popup="interessePopup">&times;</span>
                    <h2>Interesse toevoegen</h2>
                </div>
                <div class="modal-body">
                    <div class="interesses">
                        <div class="interessesBox">
                            <input type="text" class="interesse" placeholder="Interesse">
                        </div>
                        <br />
                        <button type="submit" class="btn btn-green-profile">Opslaan</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="bestemmingPopup" class="modal2">
            <div class="profile form-group">
                <form action="" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close" data-popup="bestemmingPopup">&times;</span>
                            <h2>Bestemming Toevoegen</h2>
                        </div>
                        <div class="modal-body">
                            <div class="bestemmingen">
                                <div class="bestemmingBox">
                                    <input type="text" id="bestemmingplaats" placeholder="Plaats">
                                    <input type="text" id="bestemmingland" placeholder="Land">
                                    <input type="text" id="startDatePicker" placeholder="Aankomst">
                                    <input type="text" id="endDatePicker" placeholder="Vertrek">
                                </div>
                                <br />
                                <button type="button" class="btn btn-green bestemmingformBtn">Opslaan</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="afbeeldingPopup" class="modal3">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" data-popup="afbeeldingPopup">&times;</span>
                    <h2>Afbeelding wijzigen</h2>
                </div>
                <div class="modal-body">
                    <div class="afbeeldingwijzig">
                        <input type="file" id="afbeeldingsFile"><br>
                        <img src="" height="200">
                        <br />
                        <button type="submit" class="btn btn-green afbeeldingBtn">Opslaan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
