<style media="screen">
    .buttons {
        padding: 4px;
        border-radius: unset;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        width: 100%;
    }
</style>

<div class="query">
    <h1>DatabaseManager in action!</h1>

    <p>
        Try it yourself!
    </p>

    <h2>Query</h2>

    <div>
       <textarea placeholder="Please enter your query" rows="3" id="query-input"></textarea>
    </div>

    <div>
        <table>
            <tr>
                <td>
                    <button class="buttons btn btn-blue" id="query-submit">Run query</button>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <button class="buttons btn btn-red" id="query-button" data-table="gebruiker">Gebruikers</button>
                </td>
                <td>
                    <button class="buttons btn btn-red" id="query-button" data-table="bestemming">Bestemmingen</button>
                </td>
                <td>
                    <button class="buttons btn btn-yellow" id="query-button" data-table="chat">Chats</button>
                </td>
            </tr>

            <tr>
                <td>
                    <button class="buttons btn btn-red" id="query-button" data-table="contact">Contacten</button>
                </td>
                <td>
                    <button class="buttons btn btn-red" id="query-button" data-table="interesse">Interesses</button>
                </td>
                <td>
                    <button class="buttons btn btn-red" id="query-button" data-table="match">Matches</button>
                </td>
            </tr>

            <tr>
                <td>
                    <button class="buttons btn btn-red" id="query-button" data-table="rol">Rollen</button>
                </td>
                <td>
                    <button class="buttons btn btn-red" id="query-button" data-table="verzoek">Verzoeken</button>
                </td>
                <td>
                    <button class="buttons btn btn-red" id="query-button" data-table="verzoek_status">Verzoek Status</button>
                </td>
            </tr>
        </table>
    </div>

    <h2>Result</h2>

    <div>
        <pre id="query-result">None yet!</pre>
    </div>
</div>
