<div class="registration">
    <h2 class="register-header">Registreren</h2>
    <form action="" method="POST" class="register-form">

        <div class="input-registration">
            <i class="fa fa-info-circle" aria-hidden="true"><span class="text">Vul voornaam in</span></i>
            <label for="voornaam" class="labels-registration">Voornaam</label>
            <input type="text" class="input-fields-secundary" name="name" id="firstname">
        </div>

        <div class="input-registration">
            <i class="fa fa-info-circle" aria-hidden="true"><span class="text">Vul tussenvoegsel in</span></i>
            <label for="tussenvoegsel" class="labels-registration">Tussenvoegsel</label>
            <input type="text" class="input-fields-secundary" name="tussenvoegsel" id="tussenvoegsel">
        </div>

        <div class="input-registration">
            <i class="fa fa-info-circle" aria-hidden="true"><span class="text">Vul achternaam in</span></i>
            <label for="achternaam" class="labels-registration">Achternaam</label>
            <input type="text" class="input-fields-secundary" name="lastname" id="lastname">
        </div>

        <div class="input-registration">
            <i class="fa fa-info-circle" aria-hidden="true"><span class="text">Vul gebruikersnaam in</span></i>
            <label for="gebruikersnaam">*Gebruikersnaam</label>
            <input type="text" class="input-fields-secundary required-field" name="username" id="username">
        </div>

        <div class="input-registration">
            <i class="fa fa-info-circle" aria-hidden="true"><span class="text">Vul wachtwoord in</span></i>
            <label for="wachtwoord">*Wachtwoord</label>
            <input type="password" class="input-fields-secundary required-field" name="psw" id="password"
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Moet minimaal één nummer, hoofdletter, kleine letter bevatten en minimaal 8 karakters lang">
            <br/>
        </div>

        <div id="message">
            <h3>Wachtwoord moet het volgende bevatten:</h3>
            <p id="letter" class="invalid">- Een <b>kleine letter</b></p>
            <p id="capital" class="invalid">- Een <b>hoofd letter</b></p>
            <p id="number" class="invalid">- Een <b>nummer</b></p>
            <p id="length" class="invalid">- Minimaal <b>8 karakters</b></p>
        </div>

        <div class="input-registration">
            <i class="fa fa-info-circle" aria-hidden="true"><span class="text">Wachtwoord bevestigen</span></i>
            <label for="wachtwoord-bevestigen">*Wachtwoord bevestigen</label>
            <input type="password" class="input-fields-secundary required-field" name="psw" id="confirm_password">
        </div>

        <div class="input-registration">
            <i class="fa fa-info-circle" aria-hidden="true"><span class="text">Vul E-mailadress in</span></i>
            <label for="email">*E-mailadress</label>
            <input type="text" class="input-fields-secundary required-field" name="email" id="email">
        </div>

        <div class="input-registration">
            <i class="fa fa-info-circle" aria-hidden="true"><span class="text">Vul geboortedatum in:</span></i>
            <label for="geboortedatum">geboortedatum</label>
            <input type="date" class="input-fields-secundary" name="geboortedatum" id="birthday">
        </div>

        <div class="input-registration">
            <i class="fa fa-info-circle" aria-hidden="true"><span class="text">Vul woonplaats in</span></i>
            <label for="woonplaats">Woonplaats</label>
            <input type="text" class="input-fields-secundary" name="residence" id="residence">
        </div>

        <div class="submit-buttons">
            <button type="submit" class="btn btn-green register-button">Registreer</button>
            <a href="" class="login-link">Al een account? Login!</a><br><br/>
        </div>
    </form>
</div>
