<div class="logo">
    <img src="assets/img/logo.png" class="logo" />
</div>
<div class="navbar page-header">
    <ul id="navigation-list">
        <li><a href="" data-controller="dashboard"><i class="fas fa-home navIcon"></i>Home</a></li>
        <li><a href="" data-controller="matches"><i class="fas fa-envelope navIcon"></i>Verzoeken</a></li>
        <li><a href="" data-controller="matches-lijst"><i class="fas fa-handshake navIcon"></i>Matches</a></li>
        <li><a href="" data-controller="gesprekken"><i class="fas fa-comment navIcon"></i>Gesprekken</a></li>
        <li><a href="" data-controller="contact"><i class="fas fa-phone navIcon"></i>Contact</a></li>

        <li>
            <img id="profile-image" src="">
            <div class="dropdown">
                <button class="dropbtn header-username">
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="" data-controller="profile">Mijn profiel <i class="icons fas fa-user-cog"></i></a>
                    <a href="" data-controller="handleiding">Handleiding <i class="icons fas fa-question-circle"></i></a>
                    <a href="" data-controller="logout">Uitloggen <i class="icons fas fa-power-off"></i></a>
                </div>
            </div>
        </li>
    </ul>
</div>
