<h2 class="titel_onderwerp">
    ADMIN GUIDE
</h2>

<div class="faqBox">
    <div class="faqBox-header">
        <h3>Deactivate/activate users</h3>
    </div>
    <div class="faqBox-body">
        <p>You can see every active user listed underneath the tab 'Active users'</p>
        <p>To deactivate an active user you have to press on the button <strong>delete</strong>
            which is located next to the user. The account is now deactivated.</p>
        <p>To activate the user, navigate to the tab called 'Inactive users'. All the inactive users are listed here.</p>
        <p>Then press on the button <strong>revert</strong> to activate the user again.</p>
    </div>
</div>

<div class="faqBox">
    <div class="faqBox-header">
        <h3>Statistics</h3>
    </div>
    <div class="faqBox-body">
        <p>To see the amount of registrations per month, search for the chart 'statistics'.</p>
        <p>Here you will see the amount of total registrations for the desired month.</p>
    </div>
</div>

<div class="faqBox">
    <div class="faqBox-header">
        <h3>Feedback</h3>
    </div>
    <div class="faqBox-body">
        <p>Every feedback which has been submitted by people will be listed below the page. These are categorized under
            <strong>everything, questions, feedback and complaints</strong>.</p>
        <p>Besides, you can also answer submitted feedback by clicking on the button 'answer' next to it.</p>
    </div>
</div>
