<h2 class="titel_onderwerp">
    BEHEERDERSHANDLEIDING
</h2>

<div class="faqBox">
    <div class="faqBox-header">
        <h3>Gebruikers deactiveren/activeren</h3>
    </div>
    <div class="faqBox-body">
        <p>De actieve gebruikers kun je vinden onder het kopje 'Actieve gebruikers'.</p>
        <p>Om de account van een actieve gebruiker te deactiveren klik je op het knopje
            <strong>delete</strong>. De account is nu gedeactiveerd.</p>
        <p>Om de account vervolgens weer te activeren klik je op 'Inactieve gebruikers'. Daar staan alle inactieve accounts.</p>
        <p>Klik vervolgens op het knopje <strong>revert</strong> om de account weer te acctiveren.</p>
    </div>
</div>

<div class="faqBox">
    <div class="faqBox-header">
        <h3>Statistieken</h3>
    </div>
    <div class="faqBox-body">
        <p>Om de aantal registraties per maand te bekijken, zoek je de grafiek 'statics'.</p>
        <p>Hier zie je het aantal registraties per maand.</p>
    </div>
</div>

<div class="faqBox">
    <div class="faqBox-header">
        <h3>Reacties</h3>
    </div>
    <div class="faqBox-body">
        <p>Onderaan de beheerders pagina kan je de reacties van de gebruikers terugvinden. Deze zijn onderverdeeld in
            <strong>alles, vragen, opmerkingen en klachten</strong>.</p>
        <p>Daarnaast kan je reageren op de reacties door op de knop 'reageren' de klikken.</p>
    </div>
</div>
