<h2 class="titel_onderwerp">
    REIZIGERSHANDLEIDING
</h2>

<div class="faqBox">
    <div class="faqBox-header">
        <h3>Registreren</h3>
    </div>
    <div class="faqBox-body">
        <p>Om een account aan te maken, moet je eerst navigeren naar de 'registreren' pagina.</p>
        <p>Vul hier al de verplichte persoonlijke gegevens in en maak de account aan.</p>
        <p>Als dit succesvol is gelukt, kan je direct inloggen op je account en direct aan de gang gaan.</p>
    </div>
</div>

<div class="faqBox">
    <div class="faqBox-header">
        <h3>Inloggen</h3>
    </div>
    <div class="faqBox-body">
        <p>Om in te loggen, dien je te navigeren naar de 'inloggen' pagina.</p>
        <p>Hier kan je gebruik maken van je gebruikersnaam of emailadres. Ook heb je natuurlijk je wachtwoord nodig.</p>
    </div>
</div>

<div class="faqBox">
    <div class="faqBox-header">
        <h3>Contact</h3>
    </div>
    <div class="faqBox-body">
        <p>U kunt gebruik maken van de 'contact' pagina (door middel van de formulier in te vullen) indien u:</p>
        <p class="orderList">Een vraag heeft;</p>
        <p class="orderList">Een opmerking heeft;</p>
        <p class="orderList">Een klacht heeft;</p>
    </div>
</div>
