<!-- TO DO: translating -->
<h2 class="titel_onderwerp">
    GUEST GUIDE
</h2>

<div class="faqBox">
    <div class="faqBox-header">
        <h3>Registration</h3>
    </div>
    <div class="faqBox-body">
        <p>To create an account on the website, you have to navigate to the 'registration' page.</p>
        <p>Write down all the required personal information and create the account.</p>
        <p>Once you have created the account succesfully, you can directly login in to the account and make use of it.</p>
    </div>
</div>

<div class="faqBox">
    <div class="faqBox-header">
        <h3>Login</h3>
    </div>
    <div class="faqBox-body">
        <p>In order to login, you have to navigate to the 'login' page.</p>
        <p>You can make use of your username or emailaddress. Obviously, you need your password aswell.</p>
    </div>
</div>

<div class="faqBox">
    <div class="faqBox-header">
        <h3>Contact</h3>
    </div>
    <div class="faqBox-body">
        <p>You can make use of the 'contact' page (by filling in the form) whenever you have:</p>
        <p class="orderList">A question;</p>
        <p class="orderList">Feedback;</p>
        <p class="orderList">A complaint;</p>
    </div>
</div>
