<h2 class="titel_onderwerp">
    USER GUIDE
</h2>

<div class="faqBox">
    <div class="faqBox-header">
        <h3>Sending a friendship request</h3>
    </div>
    <div class="faqBox-body">
        <p>To send a friend request, you have to navigate to the 'matches' page.</p>
        <p>On this page, you will see all the users with the same interests like you.</p>
        <p>After you have found somebody who you would like to have as friend,
            you will have to send him a friend request by clicking on the green button called
            "Send request" which is located next to his name.</p>
    </div>
</div>

<div class="faqBox">
    <div class="faqBox-header">
        <h3>Accept/decline a friendship request</h3>
    </div>
    <div class="faqBox-body">
        <p>To accept or decline a friendship request, you have to navigate to the 'requests' page.</p>
        <p>All requests which have been sent to you are listed on this page.</p>
        <p>You can accept or decline these requests.</p>
        <p>Once you have accepted a request, you will be able to start a chat with the user so will he.</p>
    </div>
</div>

<div class="faqBox">
    <div class="faqBox-header">
        <h3>Start a chat</h3>
    </div>
    <div class="faqBox-body">
        <p>Choose a specific user from the list to start a chat with.</p>
        <p>You can now start a chat.</p>
        <p>Note: You have to be a friend with the chosen user in order to start a chat with the user.</p>
    </div>
</div>

<div class="faqBox">
    <div class="faqBox-header">
        <h3>Profile</h3>
    </div>
    <div class="faqBox-body">
        <p>You can change your user credentials on the 'profile' page.</p>
        <p>You can also set your age and/or habitation public.</p>
    </div>
</div>
