<h2 class="titel_onderwerp">
    GEBRUIKERSHANDLEIDING
</h2>

<div class="faqBox">
    <div class="faqBox-header">
        <h3>Vriendschapsverzoek versturen</h3>
    </div>
    <div class="faqBox-body">
        <p>Om een verzoek te sturen, moet je naar de 'matches' pagina gaan.</p>
        <p>Op de 'matches' pagina zie je alle gebruikers die dezelfde interesses hebben.</p>
        <p>Vervolgens kan je kijken met wie je een match wilt maken. Je kan nu een vriendschapsverzoek sturen door op de groene knop
            'Verzend verzoek' te klikken, die naast de naam van de gebruiker staat. </p>
    </div>
</div>

<div class="faqBox">
    <div class="faqBox-header">
        <h3>Vriendschapsverzoek accepteren/weigeren</h3>
    </div>
    <div class="faqBox-body">
        <p>Om een verzoek te accepteren of te weigeren, moet je navigeren naar de 'verzoeken' pagina.</p>
        <p>Op deze pagina staan alle verzoeken die verstuurd zijn naar jou.</p>
        <p>Deze verzoeken kun je accepteren of weigeren.</p>
        <p>Eenmaal een verzoek geaccepteerd, kan deze persoon met jou een chat starten.</p>
    </div>
</div>

<div class="faqBox">
    <div class="faqBox-header">
        <h3>Gesprekken voeren</h3>
    </div>
    <div class="faqBox-body">
        <p>Kies een persoon uit de lijst om mee te chatten.</p>
        <p>Je kan nu beginnen met chatten.</p>
        <p>Let op: Om een gesprek te starten met een persoon moet die persoon als eerste bevriend zijn met jou.</p>
    </div>
</div>

<div class="faqBox">
    <div class="faqBox-header">
        <h3>Profiel</h3>
    </div>
    <div class="faqBox-body">
        <p>Op de 'profiel' pagina kan je jouw gegevens aanpassen.</p>
        <p>Je kan er ook voor kiezen om je leeftijd en/of woonplaats openbaar te zetten.</p>
    </div>
</div>
